* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans";
    --color1: #FFF;
    --color2: #181818;
}

main {
    min-height: 600px;
}

section, footer {
    margin-top: 100px;
}

section h2, #h3__404 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
}

/*Navbar*/

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 24px 20px;
}
.logo img {
    width: 40px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    cursor: pointer;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.menu--open, .menu--close {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.menu--open {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.menu--close {
    top: 20px;
    right: 20px;
}

.menu__search {
    padding-left: 30px;
}

.menu__search__input {
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
}

.menu__search__button {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menu__search__button:hover {
    background-color: #b8b8b8;
}

#check {
    display: none;
}



/*Cards*/

.event__card__container, .home__card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home__card__container .event__card img {
    width: 100%;
    height: 75%;
}

.event__card {
    width: 325px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    transition: all 0.3s;
}

.event__card:hover {
    transform: scale(1.1);
}

.event__card img {
    width: 100%;
    height: auto;
}

.event__card__content {
    padding: 16px;
}

.event__card a {
    text-decoration: none;
    color: #181818;
}

.event__card__button {
    background-color: #181818;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}

.event__card__button:hover {
    background-color: #383838;
}

/*Event information*/

.event__information {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.event__header img {
    width: 800px;
    height: 450px;
    display: block;
    margin: auto;
    border-radius: 4px;
}

.event__body {
    width: 800px;
    margin: auto;
}

.event__body a, .event__body button, .event__commentbox__button {
    all: initial;
    font-family: "Open Sans";
    background-color: #181818;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.event__body p, .event__body a, .event__body button {
    margin: 20px 20px 20px 0;
}

.event__body button:hover, .event__body a:hover, .event__commentbox__button:hover {
    background-color: #383838;
}

/*Event comments*/

.event__comments, .event__commentbox__container {
    width: 800px;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid transparent;
    margin: 50px auto;
}

.event__comment {
    position: relative;
    margin: 10px;
}

.event__comment__info {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.event__comment__info {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}

.event__commentbox {
    width: 100%;
    height: 100px
}

/*Forms*/

.form__container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: 100px auto;
}

.form__row {
    border: none;
}

.form__row:after {
    content: "";
    display: table;
    clear: both;
}

.form__column__small {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form__column__big {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.form__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form__label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form__button {
    background-color: #181818;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    float: right;
    text-decoration: none;
}

.form__button:hover {
    background-color: #383838;
}

.form__button:disabled {
    background-color: #575757;
}

.form__error {
    margin-top: 4px;
    border-radius: 4px;
    background-color: rgb(158, 7, 7);
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
}

.form__error p {
    margin-left: 4px;
}

/*User info*/

.user__info {
    width: 500px;
    margin: 100px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    padding: 30px;
    background-color: #f2f2f2;
}

.user__info h4, .user__info p {
    margin-bottom: 20px;
}

/*Responsive*/

@media(max-width: 1200px) {
    .menu__search {
        display: none;
    }
}

@media(max-width: 610px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a  {
        padding: 10px;
    }
    .menu--open, .menu--close {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    .form__column__small, .form__column__big, .form__button {
        width: 100%;
    }
}